.userPageContainer{
 border: 2px solid rgb(216, 103, 4);
 border-radius: 10px;
}
.usersContainer{
    margin: 50px auto;
    width: 700px;
    display: flex;
}

.foto{
margin-right: 50px;
}
.foto img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.InfoContainer{
    background-color: rgb(216, 103, 4);
    border-radius: 10px;
    width: 500px;
    min-height: 100px;
    margin-top: 10px;
    color: rgb(115, 34, 2);
    font-size: large;
    font-weight: bold;
    padding: 10px;
    word-break: break-all;

}
.InfoContainer span{
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}
.name{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}
.unfollow{
    background-color: rgb(115, 34, 2);
    width: 80px;
    height: 30px;
    color:rgb(243, 140, 38);
    border: 2px solid rgb(115, 34, 2);
    border-radius: 10px;
    margin-left: 7px;
    font-weight: bold;
    margin-top: 6px;
}

.follow{
    background-color: rgb(243, 140, 38);
    width: 80px;
    height: 30px;
    color:rgb(115, 34, 2);
    border: 2px solid rgb(243, 140, 38);
    border-radius: 10px;
    margin-left: 7px;
    font-weight: bold;
    margin-top: 6px;
}
.pageSwitch{
    color: rgb(243, 140, 38);
    width: 370px;
    margin: 50px auto;

}
.selectedPage{
    font-weight: bold;
    font-size: larger;
    cursor: pointer;
}
.follow:disabled{
    color:rgb(60, 55, 52);
    background-color: rgb(96, 91, 87);
    border: none;
}
.unfollow:disabled{
    color:rgb(60, 55, 52);
    background-color: rgb(96, 91, 87);
    border: none;
}
.paginatorButton{
    background-color: rgb(115, 34, 2) ;
    border: 2px solid rgb(115, 34, 2);
    border-radius: 10px;
    width: 50px;
    height: 20px;
    margin-left: 5px;
    font-weight: bolder;
    color:rgb(216, 103, 4);
    cursor: pointer;
}

.numberPage{
    cursor: pointer;
}