.contentImg{
    width: 1040px;
    height: 200px;
  }
  .contentImg img{
    width: 1040px;
    height: 200px;
  }
  /* .ava{
    width: 1040px;
    height: 200px;
    border: 2px solid rgb(216, 103, 4);
    border-radius: 10px;
    margin-top: 10px;

  } */
    .usersInformation {
      width: 1040px;
      min-height: 200px;
      border: 2px solid rgb(216, 103, 4);
      border-radius: 10px;
      margin-top: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  
    .information {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-weight: bold;
      font-size: large;
      width: 350px;
      border: 2px solid rgb(216, 103, 4);
      border-radius: 10px;
      word-break: break-all;
      padding-left: 50px;
      background-color: rgb(131, 129, 127);
    }
    .ava img{
      border-radius: 10px;
      width: 300px;
      height: 300px;
    }
    .statusContainer{
      display: flex;
      align-items: center;
      font-weight: bold;
      font-size: large;
      width: 850px;
      min-height: 30px;
      border: 2px solid rgb(216, 103, 4);
      border-radius: 10px;
      word-break: break-all;
      padding-left: 50px;
      background-color: rgb(131, 129, 127);
      margin: 10px;
    }