.contentImg{
    width: 1040px;
    height: 200px;
  }
  .contentImg img{
    width: 1040px;
    height: 200px;
  }
  .ava{
    width: 1040px;
    height: 200px;
    border: 2px solid rgb(216, 103, 4);
    border-radius: 10px;
    margin-top: 10px;

  }
